<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="../../../js/d3v3min.js"></script>
<link rel="shortcut icon" href="../favicon.ico">
<link rel="stylesheet" type="text/css" href="css/normalize.css"/>
<link rel="stylesheet" type="text/css" href="css/demo.css"/>
<link rel="stylesheet" type="text/css" href="css/component.css"/>
<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
<!------ Include the above in your HEAD tag ---------->
<head>
    <style>
        body{
            background-color: #000102;
        }
    </style>
</head>
<body >
    <div id="main_area">
    <!-- Slider -->
    <div class="row">
        <div class="col-sm-7">
            <div class="col-xs-12" id="slider">
                <!-- Top part of the slider -->
                <div class="row">
                    <br><br><br><br><br><br>
                    <div class="Absolute-Center is-Responsive">
                        <div class="col-sm-8">
                            <div class="navbar-header">
                                <ul style="float: right !important;" class="nav navbar-nav navbar-right">
                                    <form class="navbar-form navbar-right">
                                        <div class="form-group">
                                            
                                        </div>
                                    </form>
                                </ul>
                            </div>
                            <ul style="margin-top: 40px;" class="nav nav-pills center-pills">
                                    <li class="active" id="one"><a href  style="font-size: 15px;color:#ffffff" ng-click="vm.type = 'addCoins'" data-toggle="tab"
                                                                   href="addCoins">AddCoins</a></li>
                                    <li><a href style="font-size: 15px;color:#ffffff" ng-click="vm.type = 'updateCoinsPerHour'" data-toggle="tab"
                                           href="updateCoinsPerHour">UpdateCoinsPerHour</a></li>
                                    <li><a href style="font-size: 15px;color:#ffffff" ng-click="vm.type = 'uploadVideo'" data-toggle="tab" href="uploadVideo">Upload
                                        Video</a></li>
                                    <li><a href style="font-size: 15px;color:#ffffff" ng-click="vm.type = 'updateProfile'" data-toggle="tab"
                                           href="updateProfile">Update Profile</a></li>
                                <li><a href style="font-size: 15px;color:#ffffff" ng-click="vm.showStats()" data-toggle="tab"
                                       href="shoeStats">Show Stats</a></li>
                                </ul>
                            <br>
                            <!-- <div style="background-color: white ;border-radius: 10px;opacity:0.95;color: black;text-shadow: none;"> -->
                                <br>
                                <div class="tab-content">
                                    <div id="enterpriseView" class="tab-pane fade active in">
                                        <div ng-if="vm.type === 'addCoins'">
                                            <p style="font-size: 12px;color:#ffffff">Current Coins: {{vm.coins}}</p>
                                            <form role="form">
                                                <div class="form-group input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-euro"></i></span>
                                                    <input type="number"
                                                           ng-model="vm.coinsToBeAdded"
                                                           min="1"
                                                           class="form-control text-box-width"
                                                           id="addCoins"
                                                           placeholder="Add Coins to be Added" required>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-block btn-default"
                                                            ng-click="vm.addCoins()">AddCoins
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div ng-if="vm.type === 'updateCoinsPerHour'">
                                            <p style="font-size: 12px;color:#ffffff">Current Coins Per Hour: {{vm.coinsPerHour}}</p>
                                            <form role="form">
                                                <div class="form-group input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-euro"></i></span>
                                                    <input type="number"
                                                           ng-model="vm.updatedCoinsPerHour"
                                                           min="1"
                                                           class="form-control text-box-width"
                                                           id="updateCoinsPerHour"
                                                           placeholder="Add Coins to be Added" required>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-block btn-default"
                                                            ng-click="vm.updateCoinsPerHour()">Update Coins Per Hour
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div ng-if="vm.type === 'uploadVideo'">
                                            <div ng-if="vm.coins > vm.coinsPerHour && !vm.showLoading">
                                                <form name="vm.upload_form">
                                                    <input type="file"
                                                           ngf-select
                                                           ng-model="vm.selectedFile"
                                                           name="uploadFile"
                                                           accept=".mp4"
                                                           ngf-max-size="250MB">
                                                    <input type="text"
                                                           style="margin-top: 10px;"
                                                           ng-model="vm.description"
                                                           class="form-control text-box-width"
                                                           id="videoDescription"
                                                           placeholder="Add Description" required>
                                                    <input type="text"
                                                           style="margin-top: 10px;"
                                                           ng-model="vm.title"
                                                           class="form-control text-box-width"
                                                           id="videoTitle"
                                                           placeholder="Add Title" reuired>
                                                    <div style="margin-top: 10px">
                                                        <search-component is-user="vm.isUser"
                                                                          enterprise-search-tag="vm.enterpriseSearchTag">

                                                        </search-component>
                                                    </div>
                                                    <button class="btn btn-block btn-default" style="margin-top: 10px" type="submit"
                                                            ng-click="vm.uploadVideo()">submit
                                                    </button>
                                                </form>
                                            </div>
                                            <div ng-if="vm.coins <= vm.coinsPerHour">
                                                <p style="font-size: 12px;color:#ffffff">Please add coins to upload your videos</p></div>
                                            <div ng-if="vm.showLoading"><p>Uploading...</p></div>
                                        </div>
                                        <div ng-if="vm.type === 'updateProfile'">
                                            <div name="update Password">
                                                <p style="font-size: 12px;color:#ffffff">Update Password</p>
                                                <div>
                                                    <input type="password"
                                                           style="margin-top: 12px;"
                                                           ng-model="vm.updateProfile.oldPassword"
                                                           class="form-control text-box-width"
                                                           id="eOldPassword"
                                                           placeholder="Old Password" required>
                                                    <input type="password"
                                                           style="margin-top: 12px;"
                                                           ng-model="vm.updateProfile.newPassword"
                                                           class="form-control text-box-width"
                                                           id="eNewPassword"
                                                           placeholder="New Password" required>
                                                    <input type="password"
                                                           style="margin-top: 12px;"
                                                           ng-model="vm.updateProfile.confirmNewPassword"
                                                           class="form-control text-box-width"
                                                           id="eNewConfrimPassword"
                                                           placeholder="Confirm New Password" required>
                                                </div>
                                                <button class="btn btn-block btn-default" style="margin-top: 12px" type="submit" ng-click="vm.updatePassword()">Update Password</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
            <!--/Slider-->
        </div>

        <button style="margin-top: 15px; margin-right: 50px; float: right !important;" type="submit"
                                                    class="btn btn-danger" ng-click="vm.logout()">Logout</button>
        <div class="col-sm-5" id="layoutNav">
            <div id="slider-thumbs" class="no-scroll">
                <!-- Bottom switcher of slider -->
                <div class="vl">
                <ul style="margin-top: 0px" class="hide-bullets" id="dynamic">
                    <li ng-repeat="video in vm.videosList" class="col-sm-12">
                        <a class="thumbnail col-sm-4" id="carousel-selector-1"><img
                                src="http://www.videogular.com/assets/images/videogular.png"> </a>
                        <div id="div1" class=" col-sm-9"><a style="font-size: 20px;color:#ffffff" ng-click="vm.onVideoChange(video)">{{video.title}}</a></div>
                        <br><br><br>

                        <span><div class="col-sm-4" ng-if="vm.currentVideo != {} && vm.videosList.length !== 0">
                                <div><p style="color:#ffffff">Video was viewed: {{video.views}}</p></div>
                                <button class="btn btn-default btn-xs"
                                        ng-click="vm.deleteSelectedVideo(video.id)">Delete</button>
                            </div></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="stats" style="position:absolute; margin-left: 200px; margin-top: 400px; width: 500px; height: 500px">
            <style type="text/css">
                .slice text {
                    font-size: 12pt;
                    font-family: Arial;
                }
                .slice path{
                    stroke: #fff;
                }
            </style>
        </div>
    </div>
</div>
<!--ng-show="vm.type === 'showStats'"-->
</body>
