<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="shortcut icon" href="../favicon.ico">
<link rel="stylesheet" type="text/css" href="css/normalize.css" />
<link rel="stylesheet" type="text/css" href="css/demo.css" />
<link rel="stylesheet" type="text/css" href="css/component.css" />
<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
<!------ Include the above in your HEAD tag ---------->

    <div id="main_area">
        <!-- Slider -->
        <div class="row">
            <div class="col-sm-8">
                <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                            <br><br><br><br><br><br>    
                            <div class="Absolute-Center is-Responsive">
                                 <div class="col-sm-12 col-md-12">
                            <ul class="nav nav-pills center-pills">
                                    <li class= "active" id="one"><a href ng-click="vm.type = 'addCoins'" data-toggle="tab"
                                                          href="#enterpriseView">AddCoins</a></li>
                                    <li><a href ng-click="vm.type = 'updateCoinsPerHour'" data-toggle="tab"
                                           href="#enterpriseView">UpdateCoinsPerHour</a></li>
                                    <li><a href ng-click="vm.type = 'uploadVideo'" data-toggle="tab" href="#enterpriseView">Upload
                                        Video</a></li>
                                    <li><a href ng-click="vm.type = 'updateProfile'" data-toggle="tab"
                                           href="#enterpriseView">Update Profile</a></li>
                                    </ul>

                                    <br>
                            <div class="col-sm-12" style="background-color: white ;border-radius: 10px;opacity:0.95;color: black;text-shadow: none;">
                                <br>
                                <div class="tab-content">
                                    <div id="enterpriseView" class="tab-pane fade active in">
                                        <div ng-if="vm.type === 'addCoins'">
                                            <span>Current Coins: {{vm.currentCoins}}</span>
                                            <form role="form">
                                                <div class="form-group input-group">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                                                    <input type="number"
                                                           ng-model="vm.coinsToBeAdded"
                                                           class="form-control text-box-width"
                                                           id="addCoins"
                                                           placeholder="Add Coins to be Added" required>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-block btn-default"
                                                            ng-click="vm.addCoins()">AddCoins
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div ng-if="vm.type === 'updateCoinsPerHour'">
                                            <span>Current Coins Per Hour: {{vm.currentCoinsPerHour}}</span>
                                            <form role="form">
                                                <div class="form-group input-group">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                                                    <input type="number"
                                                           ng-model="vm.updatedCoinsPerHour"
                                                           class="form-control text-box-width"
                                                           id="updateCoinsPerHour"
                                                           placeholder="Add Coins to be Added" required>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-block btn-default"
                                                            ng-click="vm.updateCoinsPerHour()">AddCoins
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div ng-if="vm.type === 'uploadVideo'">
                                            <form name="vm.upload_form">
                                                Single Image with validations
                                                <input
                                                        type="file"
                                                        ngf-select
                                                        ng-model="vm.selectedFile"
                                                        name="uploadFile"
                                                        accept=".mp4"
                                                        ngf-max-size="50MB">
                                                <input type="text"
                                                       ng-model="vm.searchTag"
                                                       class="form-control text-box-width"
                                                       id="serachTag1"
                                                       placeholder="Search Tags">
                                                <button type="submit" ng-click="vm.addTag()">Add Tag</button>
                                                <input type="text"
                                                       ng-model="vm.description"
                                                       class="form-control text-box-width"
                                                       id="videoDescription"
                                                       placeholder="Add Desccriptio" required>
                                                <input type="text"
                                                       ng-model="vm.title"
                                                       class="form-control text-box-width"
                                                       id="videoTitle"
                                                       placeholder="Add Title" reuired>
                                                <button type="submit" ng-click="vm.uploadVideo()">submit</button>
                                                <p>{{vm.progress}}
                                            </form>
                                        </div>
                                        <div ng-if="vm.type === 'updateProfile'">
                                            <div name="update Profile">
                                                Update Profile
                                                <li><a href ng-click="vm.updateType = 'password'" data-toggle="tab"
                                                       href="#updateProfile">Update Password</a></li>
                                                <div ng-if="vm.updateType === 'password'">
                                                    <input type="password"
                                                           ng-model="vm.updateProfile.oldPassword"
                                                           class="form-control text-box-width"
                                                           id="eOldPassword"
                                                           placeholder="Old Password" required>
                                                    <input type="password"
                                                           ng-model="vm.updateProfile.newPassword"
                                                           class="form-control text-box-width"
                                                           id="eNewPassword"
                                                           placeholder="New Password" required>
                                                    <input type="password"
                                                           ng-model="vm.updateProfile.confirmNewPassword"
                                                           class="form-control text-box-width"
                                                           id="eNewConfrimPassword"
                                                           placeholder="Confirm New Password" required>
                                                </div>
                                                <li><a href ng-click="vm.updateType = 'email'" data-toggle="tab"
                                                       href="#updateProfile">Update Email</a></li>
                                                <div ng-if="vm.updateType === 'email'">
                                                    <input type="email"
                                                           ng-model="vm.updateProfile.oldEmail"
                                                           class="form-control text-box-width"
                                                           id="eOldEmail"
                                                           placeholder="Old Email" required>
                                                    <input type="email"
                                                           ng-model="vm.updateProfile.newEmail"
                                                           class="form-control text-box-width"
                                                           id="eNewEmail"
                                                           placeholder="New Email" required>
                                                </div>
                                                <button type="submit" ng-click="vm.updateProfile()">submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                </div>
                            </div>    
                </div>
            </div>
            <!--/Slider-->
        </div>
        <div class="col-sm-4" id="slider-thumbs">
                <!-- Bottom switcher of slider -->
                <ul class="hide-bullets" id="dynamic">
                    
                </ul>
            </div>
    </div>
</div>

