<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div id="main_area">
    <!-- Slider -->

    <div class="col-sm-12">
        <div>
            <div class="col-sm-8">
                <div class="col-sm-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-12" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div ng-if="vm.videosList.length" class="videogular-container">
                                        <videogular vg-player-ready="vm.onPlayerReady($API)"
                                                    vg-theme="vm.config.theme"
                                                    vg-complete="vm.onVideoComplete()">
                                            <vg-media vg-src="vm.config.sources">
                                            </vg-media>

                                            <vg-controls>
                                                <vg-play-pause-button></vg-play-pause-button>
                                                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                                <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                                                <vg-volume>
                                                    <vg-mute-button></vg-mute-button>
                                                    <vg-volume-bar></vg-volume-bar>
                                                </vg-volume>
                                                <vg-fullscreen-button></vg-fullscreen-button>
                                            </vg-controls>

                                            <vg-overlay-play></vg-overlay-play>
                                            <vg-poster vg-url='vm.config.plugins.poster'></vg-poster>
                                            <video vgMedia="master" #playerMedia id="masterVideo" preload="auto"
                                                   crossorigin></video>
                                        </videogular>
                                    </div>


                                    <div class="row" style="margin-top:50px ">
                                        <div class="col-sm-1">
                                            <div class="thumbnail">
                                                <img class="img-responsive user-photo"
                                                     src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                                            </div><!-- /thumbnail -->
                                        </div><!-- /col-sm-1 -->

                                        <div ng-if="vm.videosList.length" class="col-sm-5">
                                            <textarea style="width: 200px;"  ng-keypress="vm.onCommentType($event)"
                                                      ng-model="vm.newComment"></textarea>
                                            <div style="margin-top: 15px;" class="panel panel-default">
                                                <div ng-repeat="comment in vm.comments" class="panel-heading">
                                                    <strong>{{comment.username}}</strong>
                                                    <span class="text-muted">{{comment.body}}</span>
                                                </div>
                                            </div><!-- /panel panel-default -->
                                        </div><!-- /col-sm-5 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Slider-->
            </div>
            <div class="col-sm-4" id="layoutNav">
                <div id="slider-thumbs" class="no-scroll">
                    <!-- Bottom switcher of slider -->
                    <ul class="hide-bullets" id="dynamic">
                        <li ng-repeat="video in vm.videosList" class="col-sm-12">
                            <a class="thumbnail col-sm-3" id="carousel-selector-1"><img
                                    src="http://www.videogular.com/assets/images/videogular.png"> </a>
                            <div id="div1" class=" col-sm-9"><a ng-click="vm.onVideoChange(video)">{{video.title}}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>