.videogular-container {
  width: 300px;
  height: 120px;
  margin-top: 50px;
  overflow: hidden;
}

@media (min-width: 800px) {
  .videogular-container {
    width: 800px;
    height: 500px;
  }

  .videogular-container.audio {
    width: 1170px;
    height: 51px;
  }
}


// from here

.thumbnail {
  padding: 0;
}

#div1 {
  word-wrap: break-word; 
  width: 20em; 
  overflow: hidden;
  text-overflow: clip; 
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  width: 100%;
}

#layoutNav {
  margin-top:30px;
  white-space:nowrap;
  overflow: hidden;
}

/*#slider-thumbs {
  height: 600px;
  overflow-y: auto;
  white-space: nowrap;
}*/

.hide-bullets {
  list-style:none;
  margin-top:40px;  
}

.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}