<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title><%- htmlWebpackPlugin.options.pkg.title %></title>
    <style>
        </style>
        <script>
            setInterval( checkPageFocus, 1000 );

            function checkPageFocus() {
            var info = document.getElementById("main_body");
                if ( !document.hasFocus() ) {
                    console.log("no focus");
                    // alert("nofocus");
                }
            }
            function myFunction(){
                //function to pause video when closing.
                console.log("ok");
                // alert("before closing");
                return "Write something fdgsdfgsdfg";
            }
            
          </script>
</head>
<body id="main_body" onbeforeunload="return myFunction()" ng-app="app" ng-strict-di ng-cloak>
    <div ui-view> Loading the App</div>
</body>

<!-- {%= o.htmlWebpackPlugin.options.pkg.name + ' v' + o.htmlWebpackPlugin.options.pkg.version + ' built on ' + new Date() %} -->
</html>