<div>
<section>
    <ul ng-init="vm.signIn.isUser = true">
        <li><a href ng-click="vm.signIn.isUser = true">User</a></li>
        <li><a href ng-click="vm.signIn.isUser = false">Enterprise</a></li>
    </ul>
</section>

<div ng-if="vm.isSignIn === true">
<form role="form">
    <div class="form-group login-center">
        <label>{{vm.signIn.isUser === true ? 'User ' : 'Enterprise '}} Email address</label>
        <input type="email"
               ng-model="vm.signIn.email"
               class="form-control text-box-width"
               id="signInEmail"
               placeholder="Enter email" required>
    </div>
    <div class="form-group login-center">
        <label>Password</label>
        <input type="password"
               ng-model="vm.signIn.password"
               class="form-control text-box-width"
               id="signInPassword"
               placeholder="Password"  required>
    </div>
    <button style="margin-left: 20px" type="submit" class="btn btn-default" ng-click="vm.submit()">Submit</button>
    <div class="checkbox">
        <label><input type="checkbox" ng-model="vm.signIn.forgotPassword" value="">Forgot Password</label>
    </div>
    <div ng-if="vm.signIn.forgotPassword">
        <div class="form-group">
            <label for="confirmEmail">Confirm address</label>
            <input type="email" ng-model="vm.signIn.confirmEmail" class="form-control" id="confirmEmail" placeholder="Confirm email">
        </div>
        <button style="margin-left: 20px" type="submit" class="btn btn-default" ng-click="vm.resetPassword()">Reset Password</button>
    </div>
</form>
</div>
<div ng-if="vm.isSignIn === false">
    <form role="form">
        <div class="form-group login-center">
            <label>{{vm.signIn.isUser === true ? 'User ' : 'Enterprise '}} User Name</label>
            <input type="email"
                   ng-model="vm.signUp.username"
                   class="form-control text-box-width"
                   id="signUpUserName"
                   placeholder="Enter email" required>
        </div>
        <div class="form-group login-center">
            <label>{{vm.signIn.isUser === true ? 'User ' : 'Enterprise '}} Email address</label>
            <input type="email"
                   ng-model="vm.signUp.email"
                   class="form-control text-box-width"
                   id="signUpEmail"
                   placeholder="Enter email" required>
        </div>
        <div class="form-group login-center">
            <label>Password</label>
            <input type="password"
                   ng-model="vm.signUp.password"
                   class="form-control text-box-width"
                   id="signUpPassword"
                   placeholder="Password"  required>
        </div>
        <div class="form-group login-center">
            <label>Password</label>
            <input type="password"
                   ng-model="vm.signUp.confirmPassword"
                   class="form-control text-box-width"
                   id="confirmPassword"
                   placeholder="Password"  required>
        </div>
        <button style="margin-left: 20px" type="submit" class="btn btn-default" ng-click="vm.submit()">Submit</button>
    </form>
</div>
    <section>
        <ul ng-init="vm.isSignIn = true">
            <li><a href ng-click="vm.isSignIn = !vm.isSignIn">
                {{(vm.isSignIn === true ? 'Create a new account' : 'Already have an account? Signin')}}</a></li>
        </ul>
    </section>
    <div ng-show="vm.showError">{{vm.errorMessage}}</div>
</div>