<div>
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li ng-repeat="tags in vm.defaultTags">
            <a href="/#!/user/dasd" class="small" data-value="tags.isSelected" tabIndex="-1">
                <input ng-disabled="!tags.isSelected && !vm.canSelectMore()" ng-click="tags.isSelected = !tags.isSelected"
                       ng-model="tags.isSelected" type="checkbox"/>&nbsp;{{tags.type}}</a></li>
        <button class="btn" ng-click="vm.onSave()"></button>
    </ul>
</div>