<div class="container">
        <div class="row">
            <br>
            <center><h1>ADBARN</h1> </center>
                
    <div class="col-sm-12" style="background-color: white ;border-radius: 10px;opacity:0.8;color: black;text-shadow: none;" >                      
    <br>
        <div class="tab-content">
        
        <div ng-if="vm.isSignIn === true">  
        <form role="form" >
            <div class="form-group input-group">
                <input type="search"
                       ng-model="vm.signIn.search"
                       class="form-control text-box-width"
                       id="searchQuery"
                       placeholder="Search for something" required>
            </div>
            
            <div class="form-group">
            <button  type="submit" class="btn btn-block btn-default" ng-click="vm.submit()">Submit</button>
            </div>
            
        </form>
        </div>
           </div>
    </div>
</div>
</div>
