<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div ng-if="vm.isUser" class="btn-group" uib-dropdown is-open="false">
    <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="false">
        Search List<span class="caret"></span>
    </button>
    <ul class="dropdown-menu keep-open-on-click" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li ng-repeat="tags in vm.searchTags" role="menuitem">
            <input id="{{$index}}" ng-model="tags.isSelected" type="checkbox">{{tags.type}}</li>
    </ul>
</div>

<select class="form-control" ng-if="!vm.isUser" style="width: 173px; height: 33px;" ng-model="vm.enterpriseSearchTag">
    <option ng-repeat="tag in vm.searchTags" value="{{tag.type}}">{{tag.type}}</option>
</select>