<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div>
    <!--<div class="col-md-8">-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <ul class="nav navbar-nav navbar-left">
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <button style="padding-top: 5px" type="submit" class="btn btn-default"
                                    ng-click="vm.redeemCoins()">Claim Coins</button>
                        </div>
                        <div ng-if="!vm.shouldShowCoins" class="form-group">
                            <button style="margin-left: 15px; padding-top: 5px" type="submit" class="btn btn-default"
                                    ng-click="vm.showCoins()">Show Coins</button>
                        </div>
                        <div ng-if="vm.shouldShowCoins" style="margin-left: 15px;" class="form-group">
                            <span>Current Coins: {{vm.coins}}</span>
                        </div>
                        <div style="margin-left: 15px;" class="form-group">
                            <search-component is-user="vm.isUser"
                                              search-tags="vm.searchTags"></search-component>
                        </div>
                        <div style="margin-left: 15px;" class="form-group">
                            <button style="margin-left: 10px;" type="submit" class="btn btn-default"
                                    ng-click="vm.searchVideos()">Search</button>
                        </div>
                    </form>
                </ul>
                <ul style="float: right !important;" class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <button style="margin-right: 250px; float: right !important;" type="submit"
                                    class="btn btn-default" ng-click="vm.logout()">Logout</button>
                        </div>
                    </form>
                </ul>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
                <!--<form class="navbar-form navbar-left">-->
                    <!--<div class="form-group">-->
                    <!--</div>-->
                <!--</form>-->
                <!--<ul class="nav navbar-nav navbar-right">-->
                <!--</ul>-->
            <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
        </div><!-- /.container-fluid -->
    </nav>
    <video-component is-video-completed="vm.isVideoCompleted"
                     videos-list="vm.videosList"
                     current-url="vm.currentUrl"></video-component>
</div>