.text-box-width {
  width: 250px;
}

.login-center {
  margin-left: 200px;
}

.login-top {
  margin-top: 200px !important;
}

.e1 {
  width: 300px !important;
  margin-top:200px;
  margin-left: 0px !important;
}
